@charset "UTF-8";

.field-icon {
    float: right;
    margin-right: 5px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.alert {
    margin-top: 10px !important;
}

input.error,
textarea.error,
select.error {
    border: 1px solid #de1e11;
}

label.error,
.text-error,
.connect-us-sec .contact-form form label.error {
    color: #de1e11;
    font-size: 15px;
    display: block;
    width: 100%;
}

.required {
    color: #de1e11;
}

.select2-container--default .select2-selection--multiple {
    height: auto;
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    color: #0a549f;
    border: 3px solid #0a549f !important;
}

.m-b-0 {
    margin-bottom: 0;
}

.show {
    display: block;
}

.hide {
    display: none;
}

img.lazy {
    max-width: 100%;
    height: auto;
    /*display: block;*/
    background-image: url('/themes/frontend/assets/images/ajax-loader-small.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

img[src=""],
img:not([src]) {
    visibility: hidden;
}

.hand {
    cursor: pointer;
}

#cntctFrm label.error {
    margin-bottom: 0;
}

table.dataTable tr th {
    background-repeat: no-repeat;
    cursor: pointer;
}

.custom-sort-table table.dataTable thead .sorting_asc {
    background-image: url('../images/table-asc-icon.png') !important;
}

.custom-sort-table table.dataTable thead .sorting_desc {
    background-image: url("../images/table-desc-icon.png") !important;
}

.multiselect__tags {
    border: 0;
    height: 48px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
    border-radius: 5px;
    box-shadow: 0px 3px 13px -7px #0000005c;
}

.multiselect__select:before {
    position: relative;
    right: 0;
    top: 50% !important;
    margin-top: 0px !important;
    border-width: 0px 0px 0 0px !important;
    background-image: url('../images/select-arrow.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 21px;
    height: 10px;
    border: 0;
    margin: 0;
    left: inherit;
    right: 15px;
    margin-top: -5px;
    display: block;
}

.multiselect__input,
.multiselect__single {
    line-height: 30px !important;
    box-shadow: 0px 0px 0px 0px !important;
}

.multiselect__placeholder,
.multiselect__input,
.multiselect__single,
.multiselect__input:focus,
.multiselect__single:focus {
    color: #000 !important;
    font-family: 'Volte-Medium' !important;
    font-size: 1rem !important;
}

.multiselect__option--highlight,
.multiselect__option--highlight:after {
    background: #6ab130 !important;
}

.multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select {
    background: transparent !important;
}

.multiselect__input,
.multiselect__single {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.perform-paramtr .dy-table-wrap .dy-table-block {
    overflow-x: auto;
}

.text-green-h h1,
.text-green-h h2,
.text-green-h h3,
.text-green-h h4,
.text-green-h h5,
.text-green-h h6 {
    color: #6ab130;
}

.cursor-pointer {
    cursor: pointer;
}

a.canvasjs-chart-credit {
    display: none;
}

button:disabled {
    opacity: 0.7;
}

.primary-button {
    border: 0;
    border-radius: 5px;
    background: #6ab130;
    color: #fff;
    font-family: 'Volte-Bold';
    padding: 8px 50px;
    font-size: 16px;
}

.primary-button:hover {
    color: #fff !important;
}

.user-question h6 {
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.size-md.switch {
    width: 55px;
    height: 27px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-input {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-input:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.size-md .toggle-input:before {
    height: 20px;
    width: 20px;
}

input:checked+.toggle-input {
    background-color: #6ab130;
}

input:focus+.toggle-input {
    box-shadow: 0 0 1px #6ab130;
}

input:checked+.toggle-input:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.toggle-input.round {
    border-radius: 34px;
}

.toggle-input.round:before {
    border-radius: 50%;
}

label.compare_price_types_lbl {
    color: #fff;
    margin: 0px 0px 0 10px;
}

.compare_price_types_radio {
    margin-top: 5px;
    width: auto;
}

.investing-tools .invst-wrap .invst-fields select,
.custom-input {
    border: 0;
    height: 48px;
    padding: 0 15px;
    border-radius: 5px;
    box-shadow: 0px 3px 13px -7px #0000005c;
}

.dy-table-block table tr th {
    background-color: #000;
    color: #509b41;
}

.dy-table-block table tr th,
.dy-table-block table tr td {
    padding: 15px 20px;
}

.dy-table-block table tr td {
    background: #f7f7fb;
    border-color: #000;
    color: #000;
}

.dy-table-block table tr th,
.dy-table-block table tr td {
    border-bottom: 1px solid #00665e !important;
}

.bg-gray {
    background-color: #00665e !important;
}

.perform-snapshot-tabs .perform-snapshot-submit button {
    width: auto;
    background: #6ab130;
    border: 0;
    color: #fff;
    font-weight: bold;
    padding: 12px 50px 10px 50px;
}

.btn-green {
    background: #6ab130;
    color: #fff;
}

.investing-tools .invst-wrap .invst-fields input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #c2d1cf;
}

.investing-tools .invst-wrap .invst-fields input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #c2d1cf;
    opacity: 1;
}

.investing-tools .invst-wrap .invst-fields input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #c2d1cf;
    opacity: 1;
}

.investing-tools .invst-wrap .invst-fields input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c2d1cf;
}

.investing-tools .invst-wrap .invst-fields input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #c2d1cf;
}

.investing-tools .invst-wrap .invst-fields input::placeholder {
    /* Most modern browsers support this now. */
    color: #c2d1cf;
}

.investing-tools .invst-wrap .invst-fields input::placeholder {
    color: #c2d1cf !important;
    font-family: 'Volte-Medium';
}

ul.reset li a.active {
    color: #6ab130;
}

.home-select-service .select-service-common {
    overflow: visible !important;
}

.home-select-service .select-service-common::before {
    bottom: 0px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.home-select-service .select-service-common .span-title.text-capitalize {
    display: none;
}

.home-select-service .select-service-common p {
    margin-bottom: 50px;
}